$graph-part-width: 23px;
$background-planned: #be0010;
$background-started: #C16E00;
$background-finished: #D7CE00;
$background-delivered: #0409c1;
$background-accepted: #4bb207;
h3 {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
}
h4 {
    font-size: 13px;
    margin: 0;
}
.burn-up {
    margin-bottom: 20px;
    .col-md-2 {
        text-align: right;
        line-height: 35px;
        font-size: 15px;
        font-weight: bold;
        padding-right: 15px;
    }
    i {
        font-size: 25px;
        vertical-align: middle;
        color: #666;
        margin-right: 10px;
    }
    span {
        display: inline-block;
        width: $graph-part-width;
        height: 40px;
        border: 1px solid #CECECE;
        text-align: center;
        line-height: 35px;
        font-size: 12px;
        font-weight: bold;
        color: #DDD;
        &.day {
            background-color: #DDD;
            color: #999;
            &.passed {
                background-color: #999;
                color: #DDD;
            }
            &.is-today {
                background-color: #00ddff;
                color: #555;
            }
        }
        &.day-1 {
            width: $graph-part-width;
        }
        &.day-2 {
            width: $graph-part-width * 2;
        }
        &.day-3 {
            width: $graph-part-width * 3;
        }
        &.day-4 {
            width: $graph-part-width * 4;
        }
        &.day-5 {
            width: $graph-part-width * 5;
        }
    }
    .points {
        &.planned {
            background-color: $background-planned;
        }
        &.started {
            background-color: $background-started;
        }
        &.finished {
            background-color: $background-finished;
            color: #888;
        }
        &.delivered {
            background-color: $background-delivered;
        }
        &.accepted {
            background-color: $background-accepted;
        }
    }
}
.current-stories {
    .panel-heading {
        overflow: hidden;
        .badge {
            color: #EEE;
            &.badge-planned {
                background-color: $background-planned;
            }
            &.badge-started {
                background-color: $background-started;
            }
            &.badge-finished {
                background-color: $background-finished;
                color: #666;
            }
            &.badge-delivered {
                background-color: $background-delivered;
            }
            &.badge-accepted {
                background-color: $background-accepted;
            }
        }
    }
    .column {
        min-height: 1080px;
        .story {
            &:hover {
                @include box-shadow(2px 2px 8px 2px rgba(100, 100, 100, 0.6));
                background-color: #EEE;
            }
            .panel-footer {
                .label {
                    margin-right: 2px;
                }
                .story-type {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    float: right;
                    &.feature {
                        @include image-background("story-type-feature.png");
                    }
                    &.bug {
                        @include image-background("story-type-bug.png");
                    }
                    &.chore {
                        @include image-background("story-type-chore.png");
                    }
                    &.release {
                        @include image-background("story-type-release.png");
                    }
                }
            }
            .panel-heading, .panel-footer {
                padding: 5px;
            }
            .panel-heading {
                cursor: move;
                padding: 5px;
                background-color: #EFEFEF;
                .badge {
                    float: right;
                }
                .badge-0 {
                    background-color: #00d4d6;
                }
                .badge-1 {
                    background-color: #00c0c2;
                }
                .badge-2 {
                    background-color: #00acae;
                }
                .badge-3 {
                    background-color: #00989a;
                }
                .badge-5 {
                    background-color: #008486;
                }
                .badge-8 {
                    background-color: #007072;
                }
                h4 {
                }
            }
            .panel-body {
                padding: 5px;
            }
            .list-group {
                margin-bottom: 0;
                .list-group-item {
                    font-size: 11px;
                    .fa {
                        cursor: pointer;
                        font-size: 15px;
                        margin-right: 5px;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}