$grid-gutter-width: 5px;

@import "compass";
@import "fontawesome/scss/font-awesome";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Oswald);

$imageUrl: "/static/img/";
@mixin image-background($imageFile) {
    background-image: url($imageUrl + $imageFile);
}

.loading {
    text-align: center;
    i {
        font-size: 41px;
        width: 43px;
        height: 39px;
    }
}

@import "general";
@import "board";
