$grid-gutter-width: 5px;

@import "compass";
@import "fontawesome/scss/font-awesome";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Oswald);

$imageUrl: "/static/img/";
@mixin image-background($imageFile) {
    background-image: url($imageUrl + $imageFile);
}

.loading {
    @include image-background("loading_spinner.gif");
    height: 30px;
    background-size: 58px;
    background-position: center center;
    background-repeat: no-repeat;
}

@import "board";