*.py[cod]
.Python
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

.ipynb_checkpoints
.
.idea/
bower_components/
node_modules/

app/www/static/css/
app/www/static/js/app*.js
app/www/static/js/components*.js