<!DOCTYPE html>
<html lang="en" ng-app="pivocram">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/app.css">
        <title>Pivotal Tracker Scrum Board</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false">
                            <span class="sr-only">toggle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand icon" href="/#/">PIVOCRAM</a>
                    </div>
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="nav navbar-nav">
                            <li><a href="/#/boards" class="text-uppercase">boards</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-if="!userLogged"><a href="/#/login">LOGIN</a></li>
                            <li class="dropdown" ng-if="userLogged">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá {{userName}}!<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/#/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div ng-view></div>
        <script src="/static/js/components.min.js"></script>
        <script src="/static/js/app.min.js"></script>
    </body>
</html>