<div class="{{column.name}}" ng-class="addColumnSize(column.name)">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="col-md-11">
                <h3>{{column.label}}</h3>
            </div>
            <div class="col-md-1"><span class="badge badge-{{column.name}}" ng-bind="estimates[column.name]"></span></div>
        </div>
        <div class="panel-body column" data-column="{{column.name}}" data-drop="true" ng-model="stories[column.name]" jqyoui-droppable="{multiple:true, beforeDrop: 'saveCurrentState', onDrop: 'dropStory'}">
            <div
                ng-repeat="story in stories[column.name]"
                ng-model="stories[column.name]"
                class="panel panel-default story"
                data-jqyoui-options="{revert: 'invalid'}"
                data-drag="true"
                jqyoui-draggable="{index: {{$index}}, onStart:'dragStory(story)'}">
                <div class="panel-heading" data-toggle="tooltip" title="{{story.name}}" tooltip-trigger="mouseenter" tooltip-animation="false" tooltip-placement="top" tooltip-popup-delay="0" tooltip-append-to-body="false">
                    <div class="col-md-11">
                        <h4>{{story.name}}</h4>
                    </div>
                    <div class="col-md-1"><span class="badge badge-{{story.estimate}}">{{story.estimate}}</span></div>
                </div>
                <div class="panel-body" ng-if="story.hasTasks">
                    <div class="loading" ng-show="story.taskLoading">
                        <i class="fa fa-spinner fa-pulse"></i>
                    </div>
                    <ul class="list-group" ng-init="story.getTasks()">
                        <li class="list-group-item" ng-class="{'list-group-item-success': task.complete, 'list-group-item-warning': !task.complete, }" ng-repeat="task in story.tasks">
                            <i class="fa fa-fw" ng-if="column.name == 'started'" ng-click="changeTaskStatus(task, story.id)" ng-class="{'fa-square-o': !task.complete, 'fa-spinner fa-pulse': task.changing, 'fa-check-square-o': task.complete}"></i>
                            {{ task.description }}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <span class="label label-success" ng-repeat="label in story.labels">{{label.name}}</span>
                    <span class="story-type" ng-class="story.story_type" title="{{story.story_type}}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
