<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 current-stories">
            <div ng-repeat="story in stories">
                {{story.description}}
            </div>
            <div ng-repeat="story in stories.notStarted" class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{story.title}}</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-class="{'success': task.complete, 'warning': !task.complete, }" ng-repeat="task in story.tasks">
                            {{ task.title }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>